@import url('https://fonts.googleapis.com/css?family=Kaushan+Script|Merriweather+Sans:400,400i&subset=latin-ext');
/* start brand */

#brandAneejian img {
    max-width: 7em;
    margin-left: .5em;
}

/* end brand */

body {
  font-family: 'Merriweather Sans', sans-serif;
}


.logo {
    font-family: 'Kaushan Script', cursive;
    font-size: 1.5em;
    color: #6aa84f;
}

.rec {
    margin-bottom: 1em;
}
/* start center in container */

.col-centered {
    float: none;
    margin: 0 auto;
}

.row-centered { 
    margin: auto; 
    /* max-width: 300px; */
}

/* end center in container */

/* start footer */

footer {
    background: #fff;
    font-weight: 400;
    text-align: center;
    padding: 20px;
}

/* end footer */

.first {
    padding-top: 1em;
}